.wrapper {
    width: 100%;
}

body {
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-color: darkseagreen;
    overflow-x: hidden;
}

/* for the pic_section use the pic section as a box and then create a class for the backgroun picture that is contained in this box, maybe it'll solve
the margin and padding issues of the css */
.pic_section { 
    margin-top: -20px;
    width: 100%;
    /* height: 800px; */
    position: relative;
    text-align: center;
}

.banner_img {
    display: none;
}

/* name h1 */
.name {
    position: relative;
    padding: 10px, 50px, 0px, 50px;
    font-size: 24px;
}

#my_face img{
    width: 350px;
    height: 350px;
    margin-top: -80px;
    margin-bottom: -80px;
}

.profession {
    position: relative;
    padding: 10px, 50px, 0px, 50px;
    font-size: 20px;
}

.links_wrapper {
    position: relative;
    background: darkgray;
    padding: 10px, 50px, 0px, 50px;
    margin-right: 10px;
    margin-left: 10px;
}

#link_h3 {
    position: relative;
    text-align: center;
}

#fcc {
    position: relative;
    margin-right: 50px;
    margin-left: 5px;
}

#cw {
    position: relative;
    margin-right: 50px;
    margin-left: 5px;
}

#gh {
    position: relative;
    margin-right: 10px;
    
}

.img_carousel_container {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    background-color: darkseagreen;
    padding-left: 7px;
}

.image_holder {
    width: 100%;
    background-color: magenta;
    clear: both;
    position: relative;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    margin-right: -50px;
    margin-left: -10px;
}

.carousel_img {
    position: relative;
    margin: 0;
    width: 100%;
}

.carousel_img img {
    width: 350px;
    height: 225px;
    position: relative;

}

.buttons_holder {
    position: relative;
    top: -30px;
}

.button_change {
    display: inline-block;
    border-radius: 2px;
    height: 20px;
    width: 20px;
    background-color: maroon;
}

/* Next and previous buttons */
.prev {
    cursor: pointer;
    position: absolute;
    top: -112.5px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    left: 2px;
}
.next {
    cursor: pointer;
    position: absolute;
    top: -112.5px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    right: 2px;
}

.prev:hover, .next:hover {
    background-color: maroon;
}

.autoButton {
    cursor: pointer;
    position: absolute;
    top: -600px;
    width: auto;
    margin-top: 20px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    left: 30px;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}