.wrapper {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

/* body {
    width: 100%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-color: darkseagreen;
    overflow-x: hidden;
} */

/* for the pic_section use the pic section as a box and then create a class for the backgroun picture that is contained in this box, maybe it'll solve
the margin and padding issues of the css */
.pic_section { 
    margin-top: -20px;
    width: 100%;
    /* height: 800px; */
    position: relative;
    text-align: center;
}

.banner_img {
    display: none;
}

/* name h1 */
.name {
    position: relative;
    padding: 10px, 50px, 0px, 50px;
    font-size: 24px;
}

#my_face img{
    width: 350px;
    height: 350px;
    margin-top: -80px;
    margin-bottom: -80px;
}

.profession {
    position: relative;
    padding: 10px, 50px, 0px, 50px;
    font-size: 20px;
}

.links_wrapper {
    position: relative;
    background: darkgray;
    padding: 10px, 50px, 0px, 50px;
    margin-right: 10px;
    margin-left: 10px;
}

#link_h3 {
    position: relative;
    text-align: center;
}

#fcc {
    position: relative;
    margin-right: 50px;
    margin-left: 5px;
}

#cw {
    position: relative;
    margin-right: 50px;
    margin-left: 15px;
}

#gh {
    position: relative;
    margin-left: 10px;
    
}

.img_carousel_container {
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    /* background-color: lightslategray; */
    padding-left: -10px;

}

.image_holder {
    width: 100%;
    background-color: lightslategray; 
    background-color: var(darkgray);
    clear: both;
    position: relative;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    margin-right: -50px;
    margin-left: -10px;
}

.carousel_img {
    position: relative;
    margin: 0;
    width: 100%;
}

.carousel_img img {
    width: 350px;
    height: 225px;
    position: relative;

}

.buttons_holder {
    position: relative;
    top: -30px;
}

.button_change {
    display: inline-block;
    border-radius: 2px;
    height: 20px;
    width: 20px;
    background-color: maroon;
}

/* Next and previous buttons */
.prev {
    cursor: pointer;
    position: absolute;
    top: -112.5px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    left: -10px;
}
.next {
    cursor: pointer;
    position: absolute;
    top: -112.5px;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    right: 2px;
}

.prev:hover, .next:hover {
    background-color: maroon;
}

.car_text {
    position: relative;
    color: red;
    z-index: 100;
    width: 90%;
    text-align: center;
    padding: 3vw;
    font-family: 'Acme', sans-serif;
    font-size: clamp(1rem, 1.75vw, 5rem);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


@media only screen and (min-width: 768px) {
    .banner_img {
        display: block;
        width: 100%;
    }

    #my_face {
        position: absolute;
        margin-top: -100px;
        width: 100%;
        text-align: left;
        margin-left: 110px;
    }

    #my_face img {
        width: 100px;
        height: 100px;
    }

    .name {
        width: 100%;
        text-align: center;
        margin-top: -550px; 
    }

    .profession {
        width: 100%;
        text-align: center;
        margin-top: -20px;
    }

    .links_wrapper {
        margin-top: 420px;
    }

    .carousel_img img {
        width: 768px;
        height: 492px;
    }

    .prev {
        top: -264px;
        left: -5px;
    }

    .next {
        top: -264px;
        right: 2px;
    }
}

@media only screen and (min-width: 1024px) {
    .banner_img {
        display: block;
        width: 100%
    }

    #my_face {
        position: absolute;
        margin: 0;
        padding: 0px;
        width: 100%;
        text-align: left;
        top: 2.5vh;
    }

    #my_face img {
        width: 120px;
        height: 120px;
    }

    .name {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        top: .5vh;
        position: absolute;
    }

    .profession {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 8vh;
    }

    .links_wrapper {
        margin-top: -10px;
    }

    .carousel_img img {
        width: 1000px;
        height: 500px;
    }

    .prev {
        top: -264px;
        left: -5px;
    }

    .next {
        top: -264px;
        right: 2px;
    }
}

@media only screen and (min-width: 1400px) {
    .banner_img {
        display: block;
        width: 100%; 
    }

    #my_face {
        position: absolute;
        margin: 0;
        padding: 0px;
        width: 100%;
        text-align: left;
        top: 10vh;
    }

    #my_face img {
        width: 200px;
        height: 200px;
    }

    .name {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        top: 2vh;
        position: absolute;
    }

    .profession {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 12vh;
    }

    .links_wrapper {
        margin-top: -10px;
    }

    .carousel_img img {
        width: 1300px;
        height: 750px;
    }

    .prev {
        top: -264px;
        left: -5px;
    }

    .next {
        top: -264px;
        right: 2px;
    }
}